main {
	margin: 0 9rem;

	.mwc {
		height: 100%;

		.cont {
			@import './main/hero';
			@import './main/def';
			@import './main/features';
			@import './main/proposal';
		}
	}

	@media screen and (max-width: 1000px) {
		overflow-x: hidden;
		padding: 0 2rem;
		margin: 0;
	}
}