&#features {
	margin-top: 5.7rem;

	> .title {
		font-weight: bold;
		font-size: 3.5rem;
		line-height: 4.2rem;
		letter-spacing: 0.02em;
		color: #134075;
		text-align: center;

		@media screen and (max-width: 600px) {
			font-size: 4rem;
		}
	}

	> .text {
		font-size: 1.65rem;
		line-height: 2.25rem;
		color: #000000;
		margin: 1rem 0 3.17rem 0;

		@media screen and (max-width: 600px) {
			font-size: 1.65rem;
		}
	}

	> .content {
		display: grid;
		gap: 3.17rem;

		> .feature-cont {
			padding: 1.76rem;
			display: flex;
			gap: 4.2rem;
			background: #F3F4F8;
			border: 1px solid #E7EAF8;
			border-radius: .56rem;

			@media screen and (max-width: 600px) {
				flex-direction: column;
				align-items: center;
			}

			> .image {
				flex: 1;

				@media screen and (max-width: 600px) {
					display: flex;
					width: 100%;

					svg {
						flex: 1
					}
				}
			}

			> .text {
				flex: 2;
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
				justify-content: center;
				padding-right: 5rem;

				> .title {
					font-weight: bold;
					font-size: 2.53rem;
					line-height: 3.02rem;
					letter-spacing: 0.02em;
					color: #164989;

					@media screen and (max-width: 600px) {
						font-size: 3rem;
					}
				}

				> .text {
					font-size: 1.4rem;
					line-height: 2.25rem;
					color: #000000;

					@media screen and (max-width: 600px) {
						font-size: 1.65rem;
					}
				}
			}
		}
	}
}