&#proposal-cont {
	margin-top: 7.2rem;

	.title {
		flex: 1;
		font-weight: bold;
		font-size: 3.52rem;
		line-height: 4.22rem;
		letter-spacing: 0.02em;
		color: #164989;
		margin-bottom: 3.24rem;
		text-align: center;

		@media screen and (max-width: 600px) {
			font-size: 4rem;
		}
	}

	.content {
		display: flex;

		> .image {
			width: 50%;
			// flex: 1;

			@media screen and (max-width: 600px) {
				width: 100%;
			}
		}

		> .text {
			width: 50%;
			// flex: 1;
			display: flex;
			flex-direction: column;
			gap: .85rem;
			padding: 0 3.45rem;
			align-items: center;
			justify-content: center;

			.sub-text {
				font-size: 1.4rem;
				line-height: 2.1rem;
				text-align: center;
				color: #000000;

				@media screen and (max-width: 600px) {
					margin-bottom: 2rem;
					font-size: 1.65rem;
				}
			}

			button {
				font-size: 1.3rem;
				font-weight: 600;
				padding: 1.5rem 4.25rem;
				background: #164989;
				border-radius: 0.7rem;
				color: #fff;
				text-transform: capitalize;
				margin-bottom: 2.46rem;
				transition: background .2s ease;

				&:hover {
					background: #0188B4;
				}

				&:active {
					background: #246BC2;
				}
			}

			@media screen and (max-width: 600px) {
				padding: 0;
				margin-top: 2rem;
				width: 100%;
			}
		}

		@media screen and (max-width: 600px) {
			flex-direction: column;
			padding: 2rem;
			background-color: #F3F4F8;
		}
	}
}